
# Carpeta bin generada por la compilación
bin/*

# Carpeta obj generada por la compilación
obj/*
# Visual Studio Code
.vscode/

# Visual Studio 2017 and 2019
.vs/
*.suo
*.sln.docstates
*.user
*.userosscache
*.suo
*.cache
*.sln.ide
*.ipch/
*.bak
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config
*.obj
*.log
*.tlog
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.mdf
*.ldf
*.sdf
*.sbr
*.ilk
*.map
*.aps
*.res
*.tlh
*.tli
*.tlb
*.pdb
*.idb
*.gpstate
*.filters
*.x64
*.ncb
*.pdb
*.idb
*.aps
*.pch
*.res
*.scc
*.tlb
*.tlh
*.bak
*.cache
*.ncb
*.vcproj.*
*.vcproj.*
*.vcxproj.*
*.filters
*.opensdf
*.docstates
*.sdf
*.xml
*.cachefile
*.VC.opendb
